table {
    border-style: groove;
    flex-direction: column;
    background-color: aquamarine !important;
}

td, th {
    border: 1px !important;
    border-color: black !important;
    padding: 10px !important;
    background-color: aquamarine !important;
    border-style: groove !important;

}

html {
    background-color: aquamarine !important;
}

.tableDiv {
    background-color: aquamarine !important;
}

tr:last-child td:last-child {
   border: none !important;
  }

